table {
  font-family: arial, sans-serif;
  width: 50%;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  
}
td, th {
  padding: 5px;
  text-align: center
}
p {
  text-align: center;
  color: whitesmoke;
}
.center {
  text-align: center;
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 25%;
  width: 100%;
  font-size: 18px;
}
p:hover, th:hover {
  background-color: rgb(185, 90, 0);
}